Django==4.2.15
whitenoise
python-dotenv
pandas
openpyxl
requests
httplib2
google-auth
google-auth-httplib2
google-auth-oauthlib
oauthlib
dj-database-url
psycopg2-binary
supabase==2.18.0

